body {background:#E0FFFF}

table {border: 3px solid black;
	border-collapse: collapse;
	width: 38%;
	}

table > tr, th, td {border: 1px solid black;
	}

th, td {
	height: 25px;
	text-align: center;
}

a:visited { 
    color: #FF1493;
}

footer {
	font-style: italic;
}

h1 {
	text-align: center
}

img.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
img#sizing {
	height: 320px ; 
	width: 520px ;
}

div#nutrition {
	width: 740px;
	height: 470px;
	background-image: url(http://www.proedgetraining.com/sites/default/files/eatright.jpg);
	border: solid 1px;
	text-shadow: white 0px 0px 4px;
	background-size: 750px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

p#textcenter {
	margin-top: 135px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

h1, h2, h3 {
	font-family: Helvetica;
}